:root {
  --color-bg1: #c8dce5;
  --color-bg2: #b6ccda;
  --color-grey: #404354;
  --color-green: #58d7c4;
  --color-pink: #f2cec6;
  --color-shadow: #abc6d6;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  background: var(--color-bg2);
  height: 95vh;
  border-radius: 2rem;
  display: block;
  overflow: scroll;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.search-cart{
  display: inline-flex;
  align-items: center;
}

.image{
  margin-left: 1rem;
}
.search-btn{
  border-radius: 100px;
  background: #FFFFFF45;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
}

.btn-placeholder{
  background: transparent;
  border: 0;
  /* font-size: 1rem; */
  font-weight: 400;
  outline:none;
}

input::placeholder{
  color: #fff;
  font-size: 1.2rem;
}

.icon {
  width: 50px;
  height: 50px;
}
.icon--small {
  width: 2rem;
  height: 2rem;
}

.block {
  font-family: Poppins;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
  color: #fff;
  justify-self: center;
  margin-top: 3rem;
  margin-left: 1rem;
}

.heading {
  font-weight: 700;
}

.span0 {
  font-weight: 400;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  outline: 0;
  padding: 1rem 5rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.3;
  background: transparent;
}

.btn--outline {
  color: #fff;
  border: 3px solid #fff;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 3rem 1rem;
  justify-self: center;
  position: relative;
  align-self: center;
}

.watch {
  /* display: block; */
  width: 20rem; /* Adjust as needed */
  border-radius: 50%; /* Optional: makes the image circular */
}

.color__indicator {
  width: 3rem;
  margin-top: 3rem;
}

.options {
  justify-items: center;
  margin-top: 5rem;
}

.watches__color {
  list-style: none;
  padding-left: 7rem;
}

.watches__color li {
  display: inline-block;
  margin: 8px;
}

.options img {
  width: 4rem;
  margin: -1rem 0 0 1rem;
}

.box{
  border-radius: 5px;
  width: 6rem;
}
.color1 {
  background: linear-gradient(to left, rgba(67, 69, 88), rgba(67, 69, 88, 0.6));
}

.color2 {
  background: linear-gradient(
    to left,
    rgba(106, 221, 204),
    rgba(106, 221, 204, 0.6)
  );
}

.color3 {
  background: linear-gradient(
    to left,
    rgba(249, 205, 196),
    rgba(249, 205, 196, 0.6)
  );
}

.footer-navbar {
  background: #fff;
  color: var(--color-bg2);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 0;
}

.navbar li {
  list-style: none;
  /* width: 100%; */
}

.footer-navbar .social-media {
  display: flex;
  justify-content: center;
  z-index: 1000;
  margin-right: 1rem;
  font-size: 1.5rem;
}


.footer-navbar .menu-icon {
  justify-content: center;
  z-index: 1000;
  margin-left: 2rem;
  display: flex;
}

.footer-navbar .menu-icon img{
  width: 2rem;
}

.footer-navbar a {
  color: var(--color-bg2);
  margin: 0 10px;
  text-decoration: none;
}

#mobile-navbar .badge{
    background: #EFF6FB;
    display:flex;
    width: 100%;
    justify-content: center;
    padding: 2rem;
}

#mobile-navbar .badge a{
  color: #000;
}

#mobile-navbar {
  position: fixed;
  left: -220px; /* Start off-screen */
  top: 0;
  height: 100vh;
  width: 65%;
  background-color: #fff;
  transition: left 0.3s ease; /* Animation for sliding */
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  z-index: 900; /* Ensure it appears above other content */
  align-content: center;
}

#mobile-navbar ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
  font-family: Poppins;
  font-weight: 500;
  line-height: 27px;
  text-align: left;

}

#mobile-navbar li{
  margin-bottom: 4rem;
}

#mobile-navbar.active {
    left: 0; /* Slide in */
}

#desktop-footer ul{
    margin-top: 2rem;
    display: flex;
    font-size: 1.4rem;
}

#desktop-footer li, a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin-right: 1.5rem;
}

#desktop-footer .badge-sec a{
    color: #B6CCDA;
    background: #fff;
    display:flex;
    padding: 0 1rem;
    border-radius: 2rem;
}

/* Responsive Styles */
@media (max-width: 1239px) {
  .options {
    display: none;
  }
  #desktop-footer {
    display: none; /* Hide footer on mobile */
  }

  .menu-icon {
    display: block; /* Show menu icon on mobile */
    cursor: pointer;
  }

  .search-btn .btn-placeholder{
    display: none;
  }
  .search-btn{
    background: none;
  }
  #mobile-navbar {
    display: none; /* Hide mobile navbar by default */
  }
}

@media (min-width: 1240px) {
  .search-cart img{
  margin-right: 1.5rem;
}

.image{
  margin-left: .2rem;
}
  .container {
    height: 100vh;
    margin-left: 5rem; /* Space for the footer on the left */
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .block {
    position: absolute;
    font-size: 2rem;
    padding: 1.5rem;
    margin-top: 11rem;
    margin-left: 1rem;
  }
  .grid {
    margin-left: 45rem;
  }
  .watch {
    width: 30rem;
    height: 30rem;
  }
  .color__indicator {
    align-self: center;
    margin-left: 1rem;
  }
  .footer-navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  .footer-navbar .social-media {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  .footer-navbar .menu-icon {
    font-size: 1.5rem;
  }
  #desktop-footer {
    display: flex;
  }
  #mobile-navbar ul {
    display:none; /* Hide mobile navbar on desktop */
  }
}
